# ── Core ──────────────────────────────────────────────────────
streamlit>=1.35.0
python-dotenv>=1.0.0

# ── Array / Image ──────────────────────────────────────────────
numpy>=1.24.0
pandas>=2.0.0
Pillow>=10.0.0
opencv-python-headless>=4.8.0

# ── Deep Learning (CPU) ────────────────────────────────────────
torch>=2.1.0
torchvision>=0.16.0

# ── Visualisasi ────────────────────────────────────────────────
matplotlib>=3.8.0
pycocotools

# ── SAM2 (install manual dari repo lokal) ─────────────────────
# pip install -e "D:\Eksperimen TA\msc-cell-segmentation\sam2"

# Resnet50 SAM2 backbone
six
segmentation-models-pytorch